* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f4f7fa;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  padding-top: 60px;
  overflow-y: auto;
}

.card {
  max-width: 10 00px;
  margin: auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.card h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #1e2a47;
  font-size: 26px;
}